h1, h4 {
    font-family: 'Rock Salt', cursive;
}

h3, h5, a, p {
    font-family: 'Tahoma';
}

h3 {
    font-size: 25px;
}

h5 {
    font-size: 19px;
}

html {
    width: 100%;
    background-image: url("../images/sky-background.jpg");
    background-attachment: fixed;
    background-position: center; 
    background-repeat: repeat-y;
}

#episode-table {
    padding-top: 25px;
    padding-bottom: 20px;
}

body {
    width: 700px;
    margin: 0 auto;
    padding-top: 13px;
}

#header-image {
    width: 500px;
}

#header-text {
    float: right;
    position: relative;
    top: -14px;
    right: 30px;
}

h1 {
    margin-bottom: -40px;
}

.centered {
    text-align: center;
}

footer {
    font-size: 13px;
    padding-bottom: 10px;
}

.range-and-episode {
    width: 400px;
    display: flex;
    position: relative;
    left: 130px;
}

.range-and-episode > p {
    margin: 0 auto;
}

.episode-screenshot {
    max-width: 600px;
    border: 3px solid white;
    border-radius: 1px;
}

#donut-gif {
    margin-left: 110px;
    border: 3px solid white;
    border-radius: 1px;
}

button {
    margin-left: 20px;
}

.nav-image {
    height: 12px;
}